@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000;
}

.calc{
    width: 390px;
    margin: auto;
}

.display{
    color: #fff;
    text-align: right;
    font-size: 80px;
    margin-top: 200px;
    height: 120px;
}

.key{
    width: 90px;
    height: 90px;
    line-height: 90px;
    border: #000 solid 1px;
    border-radius: 50%;
    text-align: center;
    font-size: 35px;
    margin: 5px;
    color: #fff;
    background-color: #333333;
    cursor: pointer;
    user-select: none;
}

.key:active{
    background-color: #33333390;
}

.zero{
    width: 190px;
    border-radius: 90px;
}

tr:first-child td .key{
    background-color: #a5a5a5;
    color: #000;
}

tr:first-child td .key:active{
    background-color: #a5a5a590;
}

tr td:last-child .key{
    background-color: #ffa45c;
    color: #fff;
}

tr td:last-child .key:active{
    background-color: #ffa45c90;
}